# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
*.tsbuildinfo
**/dist/bundle.tgz

# Turbo
.turbo

# Env
.env
.env.local
.env*.local
edgekv_tokens.js

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
